.env
keys
logs
db/dbconfig.txt
db/datos_medicos.xlsx
db/datos_medicos.csv
db/pacientesact_backup.sql
db/dbconfig.txt
test/pruebaia.py
test/voice.py
test/importarbd.py
test/pruebas_df.ipynb
test/subida_bd.ipynb
test/importarbdtest.py
test/.ipynb_checkpoints
static/scripts/prueba.js
static/scripts/copy.js
templates/prueba.html
templates/demo.html
templates/pruebasvoz.html
templates/reconocimiento.html
test/genSalt.py
api.rest
db/backup
docs
functions/__pycache__
controllers/__pycache__
models/__pycache__
db/__pycache__
__pycache__