@keyframes ldio-yzaezf3dcmj {
    0% { transform: translate(12px,80px) scale(0); }
   25% { transform: translate(12px,80px) scale(0); }
   50% { transform: translate(12px,80px) scale(1); }
   75% { transform: translate(80px,80px) scale(1); }
  100% { transform: translate(148px,80px) scale(1); }
 }
 @keyframes ldio-yzaezf3dcmj-r {
    0% { transform: translate(148px,80px) scale(1): }
  100% { transform: translate(148px,80px) scale(0); }
 }
 @keyframes ldio-yzaezf3dcmj-c {
    0% { background: #5bd6e1 }
   25% { background: #8ec0cf }
   50% { background: #cacaca }
   75% { background: #ebebeb }
  100% { background: #5bd6e1 }
 }
 .ldio-yzaezf3dcmj div {
   position: absolute;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   transform: translate(80px,80px) scale(1);
   background: #5bd6e1;
   animation: ldio-yzaezf3dcmj 3.2258064516129035s infinite cubic-bezier(0,0.5,0.5,1);
 }
 .ldio-yzaezf3dcmj div:nth-child(1) {
   background: #ebebeb;
   transform: translate(148px,80px) scale(1);
   animation: ldio-yzaezf3dcmj-r 0.8064516129032259s infinite cubic-bezier(0,0.5,0.5,1), ldio-yzaezf3dcmj-c 3.2258064516129035s infinite step-start;
 }.ldio-yzaezf3dcmj div:nth-child(2) {
   animation-delay: -0.8064516129032259s;
   background: #5bd6e1;
 }.ldio-yzaezf3dcmj div:nth-child(3) {
   animation-delay: -1.6129032258064517s;
   background: #ebebeb;
 }.ldio-yzaezf3dcmj div:nth-child(4) {
   animation-delay: -2.4193548387096775s;
   background: #cacaca;
 }.ldio-yzaezf3dcmj div:nth-child(5) {
   animation-delay: -3.2258064516129035s;
   background: #8ec0cf;
 }
 .loadingio-spinner-ellipsis-2by998twmg8 {
   width: 200px;
   height: 150px;
   display: inline-block;
   overflow: hidden;
   transform: scale(0.5);
   /*background: #ffffff;*/
 }
 .ldio-yzaezf3dcmj {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(1);
   backface-visibility: hidden;
   transform-origin: 0 0; /* see note above */
 }
 .ldio-yzaezf3dcmj div { box-sizing: content-box; }