<!-- templates/index.html -->
<!--<!DOCTYPE html>
<html>
<head>
    <title>Unity WebGL</title>
    <script src="{{ url_for('serve_file', filename='Build/MedicoBuild.loader.js') }}"></script>
</head>
<body>
    <div id="unityContainer" style="width: 800px; height: 600px;"></div>
    <script>
        var unityInstance = UnityLoader.instantiate("unityContainer", "{{ url_for('serve_file', filename='Build/YourUnityBuild.json') }}");
    </script>
</body>
</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistente Médico Virtual</title>
    <meta name="author" content="Teddy Alejandro Moreira Vélez">
    <meta name="description" content="Asistente medico virtual conversacional para preconsulta">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% if isDev %}
        <link rel="shortcut icon" type="image/ico" href="../../../static/img/favicon.ico"/>
        <link rel="stylesheet" href="../../../static/css/style.css">
        <link rel="stylesheet" href="../../../static/css/loading.css">
        <link rel="stylesheet" href="../../../static/resources/avatar_{{asistente['genero']}}/TemplateData/style.css">
    {% else %}
        <link rel="shortcut icon" type="image/ico" href="../../static/img/favicon.ico"/>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/loading.css">
        <link rel="stylesheet" href="../../static/resources/avatar_{{asistente['genero']}}/TemplateData/style.css">
    {% endif %}
    <script src="https://kit.fontawesome.com/ba52fcc0fa.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</head>
<body>
    <div class="contenedor">
        <div class="asistente" style="padding-top: 0;">
            <!--<div id="unity-container" class="unity-desktop" >-->
            <div class="controles" id="controles" style="z-index:500;position: absolute;top:140px"><!--bottom: 88px;-->
                <div class="container-icon" id="asistente-btn" onclick="toggleEscucha()">
                    <div class="outer-circle" id="outer-circle">
                        <div class="inner-wave" id="inner-wave"></div>
                    </div>
                </div>
                <!--<button id="start-recording" class="btn-act iniciar-conversacion" onclick="iniciarEscucha()" disabled><i class="fa-solid fa-play"></i></button>-->
                <!--<button id="stop-recording" class="btn-act detener-conversacion" onclick="detenerEscucha()" disabled><i class="fa-solid fa-stop"></i></button>-->
                <!--<button id="stop-recording" disabled>Detener Grabación</button>-->
                <p id="info-adicional"></p>
            </div>
            <div class="contenedor-typing" id="contenedor-typing" style="z-index:499; width:25%;position: absolute;bottom:88px;border-radius: 20px;background-color: #ffffffad;">
                <div class="filtro-typing" style="display:none"></div>
                <div class="texto-type">
                    <p id="typeContenido" style="padding:5px 15px;">
    
                    </p>
                </div>
            </div>
            <iframe src="/avatar?genero=masculino" style="height: 100vh;width: 100%;display: flex; justify-content: center; align-items: center;">

            </iframe>
                
            
            <!--</div>-->
        </div>
        <div class="formulario">
            <div class="formulario-carga" id="formulario-carga" style="display: none;">
                <div class="loadingio-spinner-ellipsis-2by998twmg8">
                    <div class="ldio-yzaezf3dcmj">
                        <div></div><div></div><div></div><div></div><div></div>
                    </div>
                </div>
                <div class="mensaje-cargaf" id="mensaje-cargaf">
                    <p>Cargando formulario...</p>
                </div>
            </div>
            <div style="width:100%;height:100%;overflow-y:scroll;">
                <div class="container mt-5">
                    <h2 class="mb-4 text-center">Formulario Médico</h2>
                    <div>
                        <div class="row mt-2">
                            <div class="form-group col-5 row mb-3">
                                <div class="col-7">
                                    <label for="cod-form">Cod. Formulario</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" id="cod-form" placeholder="N° Form" disabled>
                                </div>
                            </div>
                            <div class="form-group col-2 row mb-3"></div>
                            <div class="form-group col-5 row">
                                <div class="col-auto">
                                    <label for="fecha_atencion">Fecha de Atención</label>
                                </div>
                                <div class="col-auto">
                                    <input type="date" class="form-control" id="fecha_atencion" disabled>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 style="display: inline-block; margin-right:15px">Datos del Paciente</h3>
                            <a href="/pacientes" style="text-decoration: underline;">Agregar pacientes</a>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-4">
                                <input type="hidden" id="idPaciente" value=".">
                                <label for="cedula">Cédula</label>
                                <div class="row">
                                    <div class="col-8">
                                        <input type="text" class="form-control col-auto" id="cedula" placeholder="Ingrese numero de cédula">
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-primary" id="btn-buscar" onclick="buscarPaciente()">Buscar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-4">
                                <label for="nombre">Nombres y Apellidos</label>
                                <input type="text" class="form-control" id="nombres" disabled onchange="comprobarCampos(2)">
                                <input type="hidden" class="form-control" id="genero" disabled>
                            </div>
                            <div class="form-group col-2">
                                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="fechaNacimiento" disabled onchange="comprobarCampos(2)">
                            </div>
                            <div class="form-group col-2">
                                <label for="edad">Edad</label>
                                <input type="number" class="form-control" id="edad" disabled onchange="comprobarCampos(2)">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-6">
                                <label for="telefono">Número de Teléfono</label>
                                <input type="tel" class="form-control" id="telefono" disabled onchange="comprobarCampos(2)">
                            </div>
                            <div class="form-group col-6">
                                <label for="correo">Correo Personal</label>
                                <input type="email" class="form-control" id="correo" disabled onchange="comprobarCampos(2)">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-6">
                                <label for="ciudad">Ciudad</label>
                                <input type="text" class="form-control" id="ciudad" disabled onchange="comprobarCampos(2)">
                            </div>
                            <div class="form-group col-6">
                                <label for="direccion">Dirección</label>
                                <input type="text" class="form-control" id="direccion" disabled onchange="comprobarCampos(2)">
                            </div>
                        </div>
                        <h3>Datos de Consulta Médica</h3>
                        <div class="row mb-3 mt-2">
                            <div class="form-group col-6">
                                <label for="peso">Peso</label>
                                <input type="text" class="form-control" id="peso" placeholder="Ingrese peso" disabled>
                            </div>
                            <div class="form-group col-6">
                                <label for="talla">Estatura</label>
                                <input type="text" class="form-control" id="talla" placeholder="Ingrese talla" disabled>
                            </div>
                        </div>
                        <label for="">Presión</label>
                        <div class="row mb-3">
                            <div class="form-group row col-4">
                                <div class="col-auto">
                                    <input type="text" class="form-control" id="p-sistolica" placeholder="Ingrese presión sistólica" disabled>
                                </div>
                            </div>
                            <div class="form-group row col-4">
                                <div class="col-auto">
                                    <input type="text" class="form-control" id="p-distolica" placeholder="Ingrese presión distólica" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-6">
                                <label for="frecuencia-card">Frecuencia Cardiaca</label>
                                <input type="text" class="form-control" id="frecuencia-card" placeholder="Ingrese frecuencia cardiaca" disabled>
                            </div>
                            <div class="form-group col-6">
                                <label for="temperatura">Temperatura</label>
                                <input type="text" class="form-control" id="temperatura" placeholder="Ingrese temperatura" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="display: none;">
                                <h3>Sintomatología</h3>
                                <textarea class="form-control mt-2" id="sintomatologia" style="height:150px;" disabled>
        
                                </textarea>
                            </div>
                            <div class="col" style="display: none;">
                                <h3>Diagnóstico</h3>
                                <textarea class="form-control mt-2" id="diagnostico" style="height:150px;" disabled>
        
                                </textarea>
                            </div>
                            <div class="col" style="display: none;">
                                <h3>Tratamiento</h3>
                                <textarea class="form-control mt-2" id="tratamiento" style="height:150px;" disabled>
        
                                </textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4 col-offset-4">
                                <button style="border:none;text-decoration:underline;color:cadetblue;" onclick="abrirModalHistorialSintomas()"">Historial Sintomas</button>
                            </div>
                        </div>
                        <div class="row" style="justify-content:center;margin-bottom:10px">
                            <div class="col-3">
                                <button class="btn btn-primary col-12" id="btnGuardarForm" style="padding: 10px 0;" onclick="pedirGuardarForm()" disabled>Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="sidebar_preferencias" >-->
        <div id="fondo_popups" style="display:none;position: absolute;width: 100vw; height: 100vh;background-color: rgba(0, 0, 0, 0.118); z-index: 499;">

        </div>
        <div class="collapse collapse-horizontal" id="sidebar_preferencias" style="position: absolute; top:0; right: 0; height: 100vh; width: 300px; z-index:500;">
            <div class="card card-body" style="width: 300px;margin: 20px 0;">
                <h3>Preferencias</h3>
                <p>Elige las preferencias del asistente:</p>
                <div class="form-check">
                    <input class="form-check-input opc_preferencias" type="checkbox" value="1" id="pref_sintomatologia" name="opc_preferencias">
                    <label class="form-check-label" for="pref_sintomatologia">
                        Obtener sintomatologia
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input opc_preferencias" type="checkbox" value="2" id="pref_diagnostico" name="opc_preferencias">
                    <label class="form-check-label" for="pref_diagnostico">
                        Obtener diagnostico
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input opc_preferencias" type="checkbox" value="3" id="pref_tratamiento" name="opc_preferencias">
                    <label class="form-check-label" for="pref_tratamiento">
                        Obtener tratamiento
                    </label>
                </div>
                <!--<input type="checkbox" value="sintomas" name="opc_preferencias"> 
                <input type="checkbox" value="diagnostico" name="opc_preferencias"> 
                <input type="checkbox" value="tratamiento" name="opc_preferencias"> Obtener tratamiento-->
                <!--<ul>
                    <li>Obtener sintomatología</li>
                    <li>Obtener diagnostico</li>
                    <li>Obtener tratamiento</li>
                </ul>-->
                <div class="d-flex justify-content-center"><button class="btn btn-primary" onclick="aceptarPreferenciasA()">Aceptar</button></div>
            </div>
        </div>
        <!--</div>-->
    </div>

    <div class="modal fade" id="modalHistorialSintomas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Historial de Sintomas</h4>
                </div>
                <div class="modal-body" style="overflow-y:auto;max-height:400px">
                    <table class="table table-hover" id="tblHistorialSintomas">
                        <thead>
                            <tr>
                                <th><b>#</b></th>
                                <th>Fecha</th>
                                <th>Cedula</th>
                                <th>Sintomas</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% if isDev %}
        <script src="../../../static/scripts/script.js"></script>
    {% else %}
        <script src="../../static/scripts/script.js"></script>
    {% endif %}
</body>
</html>
