<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistente Médico Virtual</title>
    <meta name="author" content="Teddy Alejandro Moreira Vélez">
    <meta name="description" content="Asistente medico virtual conversacional para preconsulta">
    <link rel="shortcut icon" type="image/ico" href="static/img/favicon.ico"/>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/loading.css">
    <script src="https://kit.fontawesome.com/ba52fcc0fa.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</head>
<body>
    <div class="contenedor">
        <div class="asistente">
            <h1 style="text-align:center">Iniciar Asistente Médico</h1>
            <div class="controles" id="controles">
                <div class="container-icon" id="asistente-btn" onclick="toggleEscucha()">
                    <div class="outer-circle" id="outer-circle">
                        <div class="inner-wave" id="inner-wave"></div>
                    </div>
                </div>
                <!--<button id="start-recording" class="btn-act iniciar-conversacion" onclick="iniciarEscucha()" disabled><i class="fa-solid fa-play"></i></button>-->
                <!--<button id="stop-recording" class="btn-act detener-conversacion" onclick="detenerEscucha()" disabled><i class="fa-solid fa-stop"></i></button>-->
                <!--<button id="stop-recording" disabled>Detener Grabación</button>-->
                <p id="info-adicional"></p>
            </div>
            <div class="contenedor-typing" id="contenedor-typing">
                <div class="filtro-typing"></div>
                <div class="texto-type">
                    <p id="typeContenido">

                    </p>
                </div>
            </div>
        </div>
        <div class="formulario">
            <div class="formulario-carga" id="formulario-carga" style="display: none;">
                <div class="loadingio-spinner-ellipsis-2by998twmg8">
                    <div class="ldio-yzaezf3dcmj">
                        <div></div><div></div><div></div><div></div><div></div>
                    </div>
                </div>
                <div class="mensaje-cargaf" id="mensaje-cargaf">
                    <p>Cargando formulario...</p>
                </div>
            </div>
            <!--<iframe style="width:100%;height:100%;" src="/formulario" frameborder="0">-->
            <div style="width:100%;height:100%;overflow-y:scroll;">
                <div class="container mt-5">
                    <h2 class="mb-4 text-center">Formulario Médico</h2>
                    <div>
                        <div class="row mt-2">
                            <div class="form-group col-5 row mb-3">
                                <div class="col-7">
                                    <label for="cod-form">Cod. Formulario</label>
                                </div>
                                <div class="col-5">
                                    <!--<input type="text" class="form-control" id="cod-form" placeholder="N° Form" onchange="comprobarCampos(1)" disabled>-->
                                    <input type="text" class="form-control" id="cod-form" placeholder="N° Form" disabled>
                                </div>
                            </div>
                            <div class="form-group col-2 row mb-3"></div>
                            <div class="form-group col-5 row">
                                <div class="col-auto">
                                    <label for="fecha_atencion">Fecha de Atención</label>
                                </div>
                                <div class="col-auto">
                                    <!--<input type="date" class="form-control" id="fecha_atencion" onchange="comprobarCampos(1)" disabled>-->
                                    <input type="date" class="form-control" id="fecha_atencion" disabled>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 style="display: inline-block; margin-right:15px">Datos del Paciente</h3>
                            <a href="/pacientes" style="text-decoration: underline;">Agregar pacientes</a>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-4">
                                <input type="hidden" id="idPaciente" value=".">
                                <label for="cedula">Cédula</label>
                                <div class="row">
                                    <div class="col-8">
                                        <!--<input type="text" class="form-control col-auto" id="cedula" placeholder="Ingrese numero de cédula" disabled onchange="comprobarCampos(2)">-->
                                        <input type="text" class="form-control col-auto" id="cedula" placeholder="Ingrese numero de cédula">
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-primary" id="btn-buscar" onclick="buscarPaciente()">Buscar</button>
                                        <!--<button class="btn btn-primary" id="btn-buscar" onclick="buscarPaciente()" disabled>Buscar</button>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-4">
                                <label for="nombre">Nombres y Apellidos</label>
                                <input type="text" class="form-control" id="nombres" disabled onchange="comprobarCampos(2)">
                                <input type="hidden" class="form-control" id="genero" disabled>
                            </div>
                            <div class="form-group col-2">
                                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="fechaNacimiento" disabled onchange="comprobarCampos(2)">
                            </div>
                            <div class="form-group col-2">
                                <label for="edad">Edad</label>
                                <input type="number" class="form-control" id="edad" disabled onchange="comprobarCampos(2)">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-6">
                                <label for="telefono">Número de Teléfono</label>
                                <input type="tel" class="form-control" id="telefono" disabled onchange="comprobarCampos(2)">
                            </div>
                            <div class="form-group col-6">
                                <label for="correo">Correo Personal</label>
                                <input type="email" class="form-control" id="correo" disabled onchange="comprobarCampos(2)">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-6">
                                <label for="ciudad">Ciudad</label>
                                <input type="text" class="form-control" id="ciudad" disabled onchange="comprobarCampos(2)">
                            </div>
                            <div class="form-group col-6">
                                <label for="direccion">Dirección</label>
                                <input type="text" class="form-control" id="direccion" disabled onchange="comprobarCampos(2)">
                            </div>
                        </div>
                        <h3>Datos de Consulta Médica</h3>
                        <div class="row mb-3 mt-2">
                            <div class="form-group col-6">
                                <label for="peso">Peso</label>
                                <input type="text" class="form-control" id="peso" placeholder="Ingrese peso" disabled>
                            </div>
                            <div class="form-group col-6">
                                <label for="talla">Estatura</label>
                                <input type="text" class="form-control" id="talla" placeholder="Ingrese talla" disabled>
                            </div>
                        </div>
                        <label for="">Presión</label>
                        <div class="row mb-3">
                            <div class="form-group row col-4">
                                <div class="col-auto">
                                    <input type="text" class="form-control" id="p-sistolica" placeholder="Ingrese presión sistólica" disabled>
                                </div>
                            </div>
                            <div class="form-group row col-4">
                                <div class="col-auto">
                                    <input type="text" class="form-control" id="p-distolica" placeholder="Ingrese presión distólica" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-6">
                                <label for="frecuencia-card">Frecuencia Cardiaca</label>
                                <input type="text" class="form-control" id="frecuencia-card" placeholder="Ingrese frecuencia cardiaca" disabled>
                            </div>
                            <div class="form-group col-6">
                                <label for="temperatura">Temperatura</label>
                                <input type="text" class="form-control" id="temperatura" placeholder="Ingrese temperatura" disabled>
                            </div>
                        </div>
                        
                        <h3>Sintomatología</h3>
                        <textarea class="form-control mt-2" id="sintomatologia" style="height:150px;" disabled>

                        </textarea>
                        <div class="row mb-3">
                            <div class="col-4 col-offset-4">
                                <button style="border:none;text-decoration:underline;color:cadetblue;" onclick="$('#modalHistorialSintomas').modal('show')">Historial Sintomas</button>
                            </div>
                        </div>
                        <!--<button class="btn btn-primary" id="btnGuardarForm" onclick="guardarFormulario()">Guardar</button>-->
                        <div class="row" style="justify-content:center;margin-bottom:10px">
                            <div class="col-3">
                                <button class="btn btn-primary col-12" id="btnGuardarForm" style="padding: 10px 0;" onclick="guardarFormulario()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</iframe>-->
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalHistorialSintomas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Historial de Sintomas</h4>
                </div>
                <div class="modal-body" style="overflow-y:auto;max-height:400px">
                    <table class="table table-hover" id="tblHistorialSintomas">
                        <thead>
                            <tr>
                                <th><b>#</b></th>
                                <th>Fecha</th>
                                <th>Cedula</th>
                                <th>Sintomas</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="min-height:250px;">
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="height: 250px;">--> <!--765x250-->
                                <!--<img src="static/img/guia_1.png" alt="" style="width: 100%;">
                            </div>
                            <div class="carousel-item" style="height: 250px;">
                                <h2>Como</h2>
                            </div>
                            <div class="carousel-item" style="height: 250px;">
                                <h2>Estas</h2>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Entendido</button>
                </div>
            </div>
        </div>
    </div>-->
    <script src="static/scripts/script.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
</body>
</html>
